# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### DartEditor template
.project
.buildlog

.dart_tool
.packages
doc/api

doc/.DS_Store
*.log
